@font-face {
    font-family: 'Cera Pro';
    src: url("../fonts/CreraPro-Regular.ttf")
}

@font-face {
    font-family: 'Cera Pro';
    src: url("../fontsCeraPro-Medium.ttf");
}

@font-face {
    font-family: 'Cera Pro';
    src: url("../fonts/CeraPro-Black.ttf");
}


@font-face {
    font-family: 'Cera Pro';
    src: url("../fonts/CeraPro-Bold.ttf");
}
header {
    width: 838px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-items {
    display: inline-flex;
    align-items: center;
    border: 5px;
    padding-right: 37px;
}

.nav-desc {
    font-family: 'Cera Pro';
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    right: 37px;
    color: #3d3d3d;
}

.nav-items p{
    position: absolute;
    right: 385px;
    color: #3D3D3D;
}

.span:hover {
    opacity: 0.5;
}

.span {
    font-family: 'Cera Pro';
    color: #46A358;
    font-weight: 900;

    transition: 0.6s ease;
}

.card-container {
    width: 840px;
    height: 1190px;
    top: 640px;
    left: 480px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: -813px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: calc(33.333% - 20px);
    margin-top: 9px;
}

.card-img {
    width: 250px;
    height: 250px;
    top: 671px;
    left: 484px;
    background-color: #FBFBFB;
}

.rectangle-img {
    margin-bottom: 12px;
}

.vector-img {
    position: absolute;
    margin-left: 88px;
}

.vector-price {
    padding-right: 16px;
    background-color: #FBFBFB;
}

.vector-price-2 {
    padding-right: 16px;
    background-color: #FBFBFB;
}

.vector-price-3 {
    padding-right: 16px;
    background-color: #FBFBFB;
}

.frame-price {
    margin-top: 12px;
}

.card-hover:hover {
    opacity: 0.5;
}

.card-hover {
    text-decoration: none;
    color: #3d3d3d;

    transition: 0.6s ease;
}

.card-desc {
    font-family: 'Cera Pro';
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    text-align: left;
    color: #3d3d3d;
    margin-top: 53px;
    transition: 0.4s;
}

.aside-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, rgb(70, 163, 88, 0.1), rgb(70, 163, 88, 0.03));
    position: relative;
}

.bg-items {
    position: absolute;
}

.bg-items-1 {
    width: 15px;
    height: 15px;
    background: linear-gradient(135deg, rgb(70, 163, 88, 0.5), rgb(70, 163, 88, 0));
    border-radius: 50%;
    top: 105px;
    left: 67px;
}

.bg-items-2 {
    width: 45px;
    height: 45px;
    background: linear-gradient(90deg, rgb(70, 163, 88, 0.5), rgb(70, 163, 88, 0));
    border-radius: 50%;
    bottom: 82px;
    right: 17px;
}

.bg-items-3 {
    width: 22px;
    height: 22px;
    background: linear-gradient(135deg, rgb(70, 163, 88, 0.5), rgb(70, 163, 88, 0));
    border-radius: 7px;
    bottom: 147px;
    left: 16px;
}

.aside-container {
    display: block;
    width: 310px;
    left: 120px;
    background-color: #FBFBFB;
}

.aside-desc {
    margin-left: 30px;
}

.span2 {
    color: #46A358;
}

.footer-btn {
    display: flex;
    margin-left: 1317px;
    padding-bottom: 0px;
}

.button {
    font-family: 'Cera Pro';
    width: 35px;
    height: 35px;
    top: 1920px;
    left: 1105px;
    border-radius: 6px;
    margin-right: 14px;
}

.button-1 {
    background-color: #46a358;
    width: 35px;
    height: 35px;
    border-radius: 6px;
    margin-right: 16px;
}