@font-face {
    font-family: 'Cera Pro';
    src: url("./CeraPro/CeraPro-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url("./CeraPro/CeraPro-Mediumr.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url("./CeraPro/CeraPro-Black.woff") format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url("./CeraPro/CeraPro-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

.body {
    font-family: 'Cera Pro' sans-serif;
}

.header {
    width: 1200px;
    margin-left: 120px;
    margin-top: 25px;
    margin-right: 119px;
    margin-bottom: 12px;
    margin-right: 30%;
}

.header-container {
    display: flex;
    justify-content: center;
    padding-top: 30%;
}

.nav-items {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    padding-right: 50%;
}

.nav-items a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #3d3d3d;
}

.nav-container {
    margin-right: 144px;
}

.login {
    margin: 0;
}

.border-containers {
    padding: 20px 0 12px 0;
}

.smaller {
    display: block;
    height: 3px;
    width: 45px;
    background-color: #46a358;
    margin-left: 379px;
}

.bigger {
    display: block;
    height: 0.3px;
    background-color: #46a358;
}

.offer-main {
    margin-left: 120px;
    margin-top: 12px;
    margin-right: 120px;
    margin-bottom: 26px;
}

.offer-container {
    display: flex;
    background-color: #f5f5f550;
}

.offer {
    padding-left: 43px;
}

.offer-title p{
    padding-top: 68px;
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
}

.offer-call h1{
    color: #3d3d3d;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    margin: 6px 0;
}

.span {
    color: #46a358;
}

.offer-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #727272;
    width: 557px;
}

.btn-shop-now {
    padding: 44px;
    background-color: #46a358;
    color: #fff;
    border: 0px;
    border-radius: 6px;
    padding: 10px 27px;
    margin: 44px 85px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.plants {
    padding: 300px 00 150px;
    width: 100%;
    background: url(../img/Component\ 1.png) 100% 100% no repeat;
    padding: 109px 813px;
}